/* regole generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 20px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.align-center{
  text-align: center;
}

.centra-head-foot{
  padding: 0 10%;
}

.padding-content{
  padding: 2% 1%;
}

.margin-bottom{
  margin-bottom: 20px;
}

/* regole di debug
[class*="col-"] {
  min-height: 100px;
  background-color: pink;
}

[class*="col-"] > .row > [class*="col-"]{
  background-color: green;
}
/* fine debug */

/* fine debug */

/* INTESTAZIONE */
header{
  color: white;
}

/* NAVIGAZIONE */
/* background */
header .navbar.navbar-default {
  background-color: #1a252f;
}
/* fixed */
header .navbar.navbar-default {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  border: none;
}

/* sezione header */
#jumbo {
  min-height: 500px;
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  padding-top: 100px;
}


/* CORPO PAGINA */
img {
  max-height: 300px;
  height: auto;
}
/* prima sezione del main */
.centra-sez1 {
  padding: 0 5%;
}

.bike{
  background-color: #fafafa;
  min-height: 100px;
}

.bike.left{
  margin-right: 5px;
}

.bike.rhigt{
  margin-left: 5px;
}

/* sezione 2 del main */
/* sezione how to */
#how{
  position: relative;
}

/* background */
main .sfondo.banner{
  background-image: url(../img/helbizbanner.jpg);
  background-position: left;
}

#iphone{
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
}

#how .text{
  text-align: center;
  padding: 1% 0;
}

@media screen and (max-width: 991px){
  #iphone{
    display: none;
  }
}

/* sezione 3 del main */
#general{
  color: white;
}
/* background */
main div.sfondo{
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
main div.sfondo.smart{
  background-image: url(../img/scooter.jpg);
  background-position: bottom;
  background-position: right;
}

main div.sfondo.app{
  background-image: url(../img/helbizapp.png);
  background-color: #41566a;
  background-position: center 80px;
}

main div.sfondo.city{
  background-image: url(../img/cities.jpg);
}

/* padding text section */
main .text-smart{
  padding-top: 50px;
}
main .text-app, main .text-city{
  padding-top: 5px;
}


/* sezione 4 del main */
main .sfondo.galleria{
  background-image: url(../img/social-banner.jpg);
  padding: 250px 0;
}

main #gallery .padd-bianco{
  background-color: white;
  width: 50%;
  padding: 20px 50px;
  display: inline-block;
}

main #gallery a{
  color: black;
  padding: 0 2%;
  font-size: 25px;
}

/* footer */
footer{
  background-color: #1a252f;
  color: white;
  min-height: 200px;
}

footer section{
  padding: 4%;
}

footer .logo{
  margin-bottom: 10px;
}

/* color */
footer a{
  color: white;
}

footer .bottom{
  text-align: center;
}

footer .bottom li{
  display: inline-block;
  padding: 2%;
}

footer .bottom i{
  font-size: 20px;
}

.platforms img {
  height: 40px;
}
